    body {
        margin: 0;
        padding: 0;
        /* background-color: rgb(300, 300, 300); */
        background-color: whitesmoke;
    }
    
    * {
        box-sizing: border-box;
    }
    
    .left {
        padding-left: 40px;
        padding-right: 10px;
        padding-top: 40px;
        width: 19%;
        height: 100%;
        float: left;
        background-color: E5E5E5;
    }
    
    .same {
        font-size: 16px;
        margin: 5px;
        color: blue;
        font-family: 'Poppins', sans-serif;
        margin-left: 0%;
        height: 50px;
        text-align: center;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    
    .home {
        background-color: rgb(247, 247, 85);
        border-radius: 0 10px 10px 0;
        padding-left: 0px;
    }
    
    .logo {
        padding-right: 10px;
        background-color: rgb(247, 247, 85);
        padding-top: 5px;
    }
    
    .logowh {
        padding-right: 10px;
        background-color: white;
        padding-top: 5px;
    }
    
    .icon-left {
        padding-left: 40px;
    }
    
    .icon {
        padding-top: 20px;
    }
    /* .imagee {
    width: 100px;
    height: 100px;
    background: transparent;
    overflow: hidden;
} */
    
    .sociallogo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
    }
    
    .sclogo {
        padding-left: 15px;
    }
    
    .menu {
        border: 2px solid white;
        height: auto;
        padding-top: 40px;
        text-align: center;
        box-shadow: 2px 2px 2px 2px lightgrey;
        background-color: #ffffff;
    }
    /* center */
    
    .center {
        float: left;
        width: 45%;
        height: auto;
        background-color: white;
        margin-right: 5px;
    }
    
    .sidesp {
        margin-left: auto;
        margin-right: auto;
    }
    
    .jimg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 650px;
        height: auto;
        margin-top: 70px;
    }
    
    .featured {
        margin-top: 40px;
        width: auto;
        color: blue;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        padding: 10px;
        float: left;
    }
    
    .arw {
        padding-left: 500px;
    }
    
    .arw1 {
        padding-left: 450px;
    }
    
    .feat {
        margin-right: 10px;
    }
    
    .box {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 650px;
        height: auto;
        margin-top: 10px;
        /* border: 2px solid black; */
    }
    
    .boxx {
        display: flex;
    }
    
    .box1 {
        width: 50%;
    }
    
    .box2 {
        width: 50%;
    }
    
    .bx {
        display: flex;
    }
    
    .headtext {
        font-size: 18px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
    }
    
    .headtextx {
        font-size: 14px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
    }
    
    .text {
        margin-top: -10px;
        color: rgb(204, 197, 197);
    }
    
    .ltext {
        margin-top: -10px;
        color: rgb(153, 151, 151);
    }
    
    .ltext1 {
        margin-top: -10px;
        color: rgb(153, 151, 151);
        font-size: 13px;
    }
    
    .point {
        text-align: center;
    }
    
    .bx1 {
        /* border: 2px solid black; */
        display: flex;
    }
    
    .bx2 {
        /* border: 2px solid black; */
        display: flex;
    }
    
    .bx3 {
        /* border: 2px solid black; */
        display: flex;
    }
    
    .a1 {
        width: 50%;
        border-top: 1px solid lightgray;
        margin-left: 10px;
    }
    
    .a2 {
        width: 50%;
        border-top: 1px solid lightgray;
    }
    
    .pc {
        padding: 10px;
        width: 300px;
        height: auto;
    }
    /* .............. */
    /* right */
    
    .right {
        float: left;
        width: 20%;
        background-color: #ffffff;
        /* border: 2px solid black; */
        height: auto;
    }
    
    .artic {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .headtext1 {
        font-size: 15px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
    }
    
    .startup {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .stimg {
        width: 290px;
        height: auto;
    }
    
    .explore {
        margin-top: 40px;
        border: 2px solid lightblue;
        border-radius: 10px;
    }
    
    .topics {
        display: flex;
        border-bottom: 1px solid lightblue;
    }
    
    .topicstyle {
        color: blue;
        font-size: 22px;
    }
    
    .detail {
        display: flex;
        border: 2px solid rgb(128, 205, 231);
        border-radius: 10px;
        font-size: 12px;
        color: blue;
        padding-left: 2px;
        padding-right: 2px;
        font-family: 'Montserrat', sans-serif;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
    }